 <!DOCTYPE html>
<html>
  <head>
    <title>Team & Heroes</title>
  </head>
<body>
<% @posts.each do |post| %>-->
  <h2>Post Name: <%= post.name %></h3>
  <p>Post Content: <%= post.content %></p>
  <br>
  <% end %>
  </body>
  </htm